@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: #f8fafc;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #2563eb;
  color: white;
}
